html, body {
    font-size: 16px;
    background: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.plan-your-life {
    font-size: .6rem;
    line-height: .7rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.get {
    font-size: 3rem;
    line-height: 4rem;
    color: #FFFFFF;
}
.description-text {
    margin-top: 1rem;
    font-size: .9rem;
    color: #FFFFFF;
}
.button {
    display: flex;
    padding-top: 2rem;
}
.left {
    padding: .7rem 1rem;
    background: #6888FF;
    border: 1px solid #c6c6c6;
    color: #565f82;
    cursor: pointer;
} 
.left:hover {
    background-color: #FFFFFF;
}
.right {
    padding: .7rem .5rem;
    background: #6888FF;
    border: 1px solid #c6c6c6;
    color: #565f82;
    cursor: pointer;
}
.right:hover {
    background-color: #FFFFFF;
}
.newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem;
    background: #FCFDFF;
    border-bottom: 1px solid #c6c6c6;
}
.container-newsletter {
    
}
.sign-up-for-newsletter{
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #3D4F9F;
}
.description {
    font-size: .9rem;
    font-weight: 400;
    color: #8D96BD;
    line-height: 1.3rem;
}
.form-control {
    background: #EFEFF7;
    border-radius: .3rem;
    border: 1px solid #c6c6c6;
    padding: 1rem 5rem;
}
.btn {
    background: #4D6CE1;
    border-radius: .3rem;
    border: 1px solid #c6c6c6;
    color: #FFFFFF;
    padding: 1rem 5rem;
}
.footer {
    flex-direction: row;
    padding: 5rem;
    background: #FFFFFF;
    
}
.container-footer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.ellipse {
    width: 1.6rem;
    height: 1.6rem;
    background: #5E81FE;
    border-radius: 3rem;
}
.home {
    margin-left: 4.5rem;
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
}
.blog {
    margin-left: 2.6rem;
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
}
.features {
    margin-left: 2.6rem;
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
}
.pricing {
    margin-left: 2.6rem;
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
}
.documentation {
    margin-left: 2.6rem;
    margin-right: 24rem;
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
}
.get-started {
    margin-left: 2.7rem;
    background: #D2E1FF;
    padding: .5rem .4rem;
    border-radius: .2rem;
    border: 1px solid #c6c6c6;
    color: #3A79FF;
    cursor: pointer;
}
.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/sprite.png");
    cursor: pointer;
    border: 1px solid #c6c6c6;
    border-radius: 1.3rem;
    margin-left: 2.34rem;
}
.social-icon-facebook {
    background-position: -22px -22px;
}
.social-icon-facebook:hover {
    background-position: -22px -105px;
}
.social-icon-facebook:active {
    background-position: -22px -189px;
}
.social-icon-google {
    background-position: 650px -22px;
}
.social-icon-google:hover {
    background-position: 650px -105px;
}
.social-icon-google:active {
    background-position: 650px -189px;
}
.social-icon-twitter {
    background-position: 231px -22px;
}
.social-icon-twitter:hover {
    background-position: 231px -105px;
}
.social-icon-twitter:active {
    background-position: 231px -189px;
}
.social-icon-linkedin {
    background-position: 567px -22px;
}
.social-icon-linkedin:hover {
    background-position: 567px -105px;
}
.social-icon-linkedin:active {
    background-position: 567px -189px;
}
.copyright {
    font-size: .7rem;
    line-height: .9rem;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
    margin-left: 6rem;
    margin-top: 3rem;;
}
